:root {
  --bg-color-dark: #0d171f;
  --text-color-dark: #f7f9fa;
  --primary-color-dark: #69b6ff;
  --bg-primary-botton: #69b9ff1a;

  --text-color-light: invert(var(--text-color-dark));
  --bg-color-light: invert(var(--bg-color-dark));
  --primary-color-light: invert(var(--primary-color-dark));
  --bg-primary-botton-light: invert(var(--bg-primary-botton));
}