@import '/src/styles/variables.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  width: 70%;
}

button {
  padding: 10px;
  border: 0 solid;
  border-radius: 20px;
  background-color: var(--bg-primary-botton-dark);
  color: var(--primary-color-dark);
}

.transition {
  transition: all 0.3s ease-in-out 0;
}

.transition:hover {
  transform: scale(1.1);
}