:root {
  --bg-color-dark: #0d171f;
  --text-color-dark: #f7f9fa;
  --primary-color-dark: #69b6ff;
  --bg-primary-botton: #69b9ff1a;

  --text-color-light: invert(var(--text-color-dark));
  --bg-color-light: invert(var(--bg-color-dark));
  --primary-color-light: invert(var(--primary-color-dark));
  --bg-primary-botton-light: invert(var(--bg-primary-botton));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;

  min-height: 100vh;
  min-width: 100vh;
}

button {
  padding: 10px;
  border: 0 solid;
  border-radius: 20px;
  background-color: var(--bg-primary-botton-dark);
  color: var(--primary-color-dark);
}

.transition {
  transition: all 0.3s ease-in-out 0;
}

.transition:hover {
  transform: scale(1.1);
}